{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">

		<h1>Liste des articles</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Content</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for object in list %}
					<tr>
						<th scope="row">{{ object.id}}
						</th>
						<td>{{ object.title}}
						</td>
						<td>{{ object.content }}</td>
						<td>
							<a class=" btn btn-warning" href="{{ path('update',{'id': object.id }) }}">Update</a>
							<a class="btn btn-danger" href="{{ path('delete',{'id': object.id }) }}">Delete</a>

						</td>

					</tr>
				{%  endfor %}


			</tbody>


		</table>
		<div>

			<a class="btn btn-primary" href="{{ path('create')}}">+ Add</a>
		</div>

	</div>
</div>{% endblock %}
